<!-- On top: Books with the scrolling component-->
<!-- On the left the pic with the first two paragraphs -->
<!-- On the right a preview of one video and one audio, and two of the next scheduled events-->
<div class="flex flex-col mb-12">
  <div class="mb-4">
    @if (books()) {
    <app-book-carousel [books]="books()!"></app-book-carousel>
    }
  </div>

  <div class="flex flex-col md:flex-row gap-4 items-stretch justify-between">

    <!--BIO-->
    <div class="w-full md:w-1/2 flex flex-col element-box">

      <div class="flex justify-between items-end border-b border-gray-300 pb-2 mb-2">
        <h2>Biografia</h2>
        <a routerLink="/vita" class="text-primary hover:underline hover:text-secondary font-medium text-sm">
          Biografia estesa &rarr;
        </a>
      </div>

      <img src="./RFerrari.png" alt="Roberto Ferrari" class="w-full mx-auto mb-6 rounded-lg shadow-xl object-cover">

      <p class="text-left md:text-justify text-gray-700 leading-relaxed">
        Roberto Ferrari, biologo, ha svolto per trent’anni
        attività di ricerca nel campo degli insetti sociali
        e dell’etologia cognitiva presso l’Università
        di Bologna. È docente di Mindfulness al Master
        presso l’Università La Sapienza di Roma e insegna
        presso la Scuola di Psicoterapia “Nous” di Milano
        e la Scuola Superiore di Filosofia Orientale
        e Comparativa di Rimini. ha fondato il Centro Mindfulness
        "Mente&Vita" presso 
        <a href="http://www.asiamodena.it/" target="_blank" class="text-primary underline hover:text-secondary duration-300 ease-in-out transition-colors">
          l'Associazione Asia Modena</a>,
        operando all’interno di progetti di ricerca sulla
        Mindfulness in ospedali con pazienti oncologici
        e personale sanitario, in scuole e carceri. Tra le sue
        pubblicazioni, Lo sguardo senz’occhio. Esperimenti sulla
        mente cosciente tra scienza e meditazione (con Franco
        Bertossa, Milano 2005), Sfere invisibili. All’interno degli
        habitat animali (Modena 2011) e Un respiro alla volta.
        Storie di mindfulness in Oncologia e tra gli animali
        (Bologna 2021).
      </p>

      <!-- Little fox drawing -->
      <img src="./fox.jpg" alt="Fox drawing" class="w-3/4 mx-auto rounded-lg opacity-90 select-none">
    </div>

    <!-- Highlights -->
    <div class="w-full md:w-1/2 flex flex-col gap-4 items-stretch justify-between">

      <!--Highlighted media -->
      <div class="element-box flex flex-col gap-4">
        <div class="flex justify-between items-end border-b border-gray-300 pb-2">
          <h2>Contenuti In Evidenza</h2>
          <a routerLink="/media" class="text-primary hover:underline hover:text-secondary font-medium text-sm mb-0.5">
            Vedi tutti &rarr;
          </a>
        </div>
        <div class="grid grid-cols-1 gap-4">
          @for (media of featuredMedia(); track media.id){
          <app-media-card [media]="media"></app-media-card>
          }
        </div>
      </div>

      <!-- Highlighted events-->
      <div class="element-box flex flex-col gap-4 h-full justify-center-safe">
        <div class="flex justify-between items-end border-b border-gray-300 pb-2">
          <h2>Prossimi Interventi</h2>
          <a routerLink="/interventi"
            class="text-primary hover:underline hover:text-secondary font-medium text-sm mb-0.5">
            Tutti gli interventi &rarr;
          </a>
        </div>
        <div class="grid grid-cols-1 gap-4 divide-y divide-primary/50">
          @for (event of featuredEvents(); track event.id) {
          <app-event-card [event]="event"></app-event-card>
          } @empty {
          <p class="text-sm text-gray-500 italic">Nessun intervento in programma.</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>